<%- include('header'); %>

    <% products_list.forEach(product => { %>
        <!-- <div class="container"> -->
            <div class="container row my-2 mx-auto mb-4" style="border-radius: 20px; width: 50rem; box-shadow: 3px 3px;" >
                <div class="col-3">
                    <a href="/product?id=<%= product.product.prod_id %>" class="mx-auto">
                        <img src="<%= product.product.image %>" alt="?" class="img-fluid">
                    </a>
                </div>
                <!-- <div class="card-body"> -->
                <div class="col-6 mx-5">
                    <a href="/product?id=<%= product.product.prod_id %>" class="text-decoration-none text-reset mx-auto">
                        <h5><%= product.product.title %></h5>
                    </a>
                    
                    <p><%= product.product.rating.rate %>/5.</p>
                    <p><%= product.product.rating.count %> reviews.</p>
                    <p>₹<%= product.product.price %></p>

                    <!-- button -->
                     <div class="d-flex align-items-center">
                        <input type="button" onclick="update('<%= product.product.prod_id %>', '<%= user_id %>', '<%= product.quantity %>', 1)" value="+" class="btn btn-secondary mx-2">
                        <h6 id="q_prod_id_<%= product.product.prod_id %>"><%= product.quantity %></h6>
                        <input type="button" onclick="update('<%= product.product.prod_id %>', '<%= user_id %>', '<%= product.quantity %>', -1)" value="-" class="btn btn-secondary mx-2">
                     </div>

                </div>
            </div>
        <!-- </div> -->
    <% }); %>

<script>
    function update(prod_id, user_id, quantity, update) {
        quantity = Number(quantity) + Number(update)
        req_body = {   
            user_id: user_id,
            prod_id: prod_id,
            new_quantity : quantity
        }
        console.log(JSON.stringify(req_body))
        fetch('/update_cart',  {
            method: "POST",
            body:JSON.stringify(req_body),
            headers: {
                "Content-Type" : "application/json"
            }
        }).then(
            (res) => {
                if(res.status === 200){
                    let id = "q_prod_id_" + prod_id
                    document.getElementById(id).innerText = Number(document.getElementById(id).innerText) + Number(update)
                    console.log("success")
                    window.location.reload()
                }
                else{
                    console.log("no bro")
                }
            }
        )
    }
</script>

<%- include('footer'); %>